body {
        background-color: rgb(25, 25, 25);
}

.style {
    padding:20px;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size:12px;
    background-color: rgba(0, 0, 0, 0.7);
}

.credits_div{
        margin-bottom:10px;
    }

.footer_bottom_text{
        color:rgba(255, 255, 255, 0.5);
}